<app-header titulo = "Ion Grid con ion Item"></app-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">Columna 1 tamaño 6</ion-col>
      <ion-col size="6">columna 2 tamaño 6</ion-col>
      <ion-col size="12">Columna 3 tamaño 12 ocupa todo el ancho</ion-col>
    </ion-row>
  </ion-grid>

 <h2 style="margin: auto; text-align: center; padding: 30px;">combinando grid con item</h2>
  <ion-grid >
      <ion-row>
          <ion-col size="6">Columna 1 tamaño 6</ion-col>
          <ion-col size="6">columna 2 tamaño 6</ion-col>
          <ion-col size="12">Columna 3 tamaño 12 ocupa todo el ancho</ion-col>
      </ion-row>
    <ion-item>
      <ion-row>
          <ion-col size="6">Columna 1 tamaño 6</ion-col>
          <ion-col size="6">columna 2 tamaño 6</ion-col>
          <ion-col size="12">Columna 3 tamaño 12 ocupa todo el ancho</ion-col>
      </ion-row>
    </ion-item>
  </ion-grid>

</ion-content>


<app-footer titulo="Footer ion grid con ion item"></app-footer>
