<ion-header>
  <ion-toolbar>
    <ion-title>action-sheet</ion-title>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="onClick()" expand="block" >
    Mostrar action-sheet
  </ion-button>

  <div style="text-align: center; margin: auto;" class="ion-padding">
    <a href="https://www.udemy.com/course/ionic-ios-android-pwa-appstore-playstore-push/learn/lecture/13226902#overview">Video 43 del curso</a>
  </div>

</ion-content>
