<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>avatar</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <img src="/assets/img3.jpg">
      </ion-avatar>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-chip color="primary" outline="true">
    <ion-avatar>
      <img src="/assets/img2.jpg">
    </ion-avatar>
    <ion-label>Default</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img4.jpg">
      </ion-avatar>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img1.jpg">
      </ion-avatar>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img5.jpg">
      </ion-avatar>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/img6.jpg">
      </ion-avatar>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-avatar slot="end">
        <img src="/assets/img4.jpg">
      </ion-avatar>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="end">
        <img src="/assets/img1.jpg">
      </ion-avatar>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="end">
        <img src="/assets/img5.jpg">
      </ion-avatar>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="end">
        <img src="/assets/img6.jpg">
      </ion-avatar>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
  </ion-list>


  <ion-item color="tomate" class="itemStilo" lines="none">
    <ion-avatar slot="start">
      <img src="/assets/img6.jpg">
    </ion-avatar>
    <ion-label>Color de Fondo </ion-label>
  </ion-item>


  <div class="ion-padding" style="margin: auto; text-align: center;" >
   <a href="https://www.udemy.com/course/ionic-ios-android-pwa-appstore-playstore-push/learn/lecture/13248104#overview">Video 45</a>
  </div>

</ion-content>
