<app-header titulo="Slides"></app-header>

<ion-content>

  <ion-slides pager="true">
        <ion-slide class="slide-1">
          <h1>Slide 1</h1>
        </ion-slide >
        <ion-slide class="slide-2">
          <h1>Slide 2</h1>
        </ion-slide>
        <ion-slide class="slide-3">
          <h1>Slide 3</h1>
        </ion-slide>
        <ion-slide class="slide-4">
          <div class="centrar">
            <h1>slide 4</h1>
            <a href="https://www.udemy.com/course/ionic-ios-android-pwa-appstore-playstore-push/learn/lecture/13375156#overview">Video 77</a>
          </div>
        </ion-slide>

      </ion-slides>

</ion-content>
